<ul class="footer">
	<li>
		<h1>Products</h1>
		<ul>
			<li>Biltong</li>
			<li>Boerewors</li>
			<li>Droewors</li>
			<li>Chilli Bites</li>
			<li>Cabanossi</li>
		</ul>
	</li>
	<li>
		<h1>Contact Us</h1>
		<ul>
			<li>Call us - 09 473 0518</li>
			<li>Email Us - Info@biltong.kiwi.nz</li>
			<li>Facebook</li>
			<li>Google +</li>
		</ul>
	</li>
	<li>
		<h1>Pages</h1>
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Products</li>
			<li>Chilli Bites</li>
			<li>Contact</li>
		</ul>
	</li>
</ul>